<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="DestinationDatabase" connectionString="Data Source=10.0.81.1;DataBase=LEJU_DATA_SOURCE;User ID=sa;Password=sa@sql2016004;Persist Security Info=True;Connect Timeout=0" />
    <!--<add name="MS" connectionString="Data Source=.;Initial Catalog={0};Persist Security Info=True;User ID=sa;Password=wan12345N;MultipleActiveResultSets=True;Asynchronous Processing=true"></add>-->
    <add name="SourceDatabase" connectionString="server=10.207.0.151;user id=yktmdataleju; password=kh8Ic>brcyV8aj; PORT=33408;database=m_data_leju_com; pooling=false"></add>
  </connectionStrings>

  <appSettings>
    <clear/>
    <add key ="whichday" value = "1"/>
    
  </appSettings>
  
</configuration>